@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background-image: url("../_imagens/radio-tv.png");
}

audio#musica {
    display: block;
    position: relative;
    top: 490px;
    left: 574px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    top: 60px;
    left: 88px;
    width: 440px;
}

video#VideoIndex {
    display: block;
    position: relative;
    width: 500px;
    margin-bottom: 10px;
}

video#VideoNoticia {
    display: block;
    position: relative;
    top: -15px;
    width: 360px;
}